
body{
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #244F26;
}

h1{
  font-size: 200%;
  color: #95B46A;
  text-align: center;
  vertical-align: baseline;
}

a {
  color: #244F26;
  font-size: 150%;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #95B46A;
  width: 100%;
  top: 0;
  left: 0;
  }

li {
display: inline;
float: left;
width: 200px;
padding: 5px;
margin: 5px;
}

p{
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  }

td, th {
  border: 5px solid #D3D3D3;
  text-align: left;
  padding: 5px;
}
tr {
  background-color: #8C86AA;
}

button {
 background-color:#244F26; 
 color: DDE5DC;
 border: 2 px solid;
 border-color: B39C4D; 
 padding: 10px 15px;
 text-align: center; 
 font-size: 16px; 
 margin 4px 6px; 
}
