
h3 { 
  color: orange;
  text-align: center;
  font-size: 60px; 
  border: pink dashed;
  font-family: "Lucida Console", "Courier New", monospace;
}
body{
  background-color:salmon;
}

body{
  font-family: "Lucida Console", "Courier New", monospace;
}
h1{
  font-size: 200%;
  color: gold;
  text-align: center;
  vertical-align: baseline;
}
a {
  color: #2F2F2F;
  font-size: 150%;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #DCC9B6;
  width: 100%;
  top: 0;
  left: 0;
  
}
li {
display: inline;
float: left;
width: 200px;
padding: 5px;
margin: 5px;
}

